extends layouts/main

block content
    .form-container
        form(action=`${routes.users}${routes.changepassword}`, method="post")
            input(type="password", name="oldpassword", placeholder="Current Password")
            input(type="password", name="newpassword", placeholder="New Password")
            input(type="password", name="newpassword1", placeholder="Verify New Password")
            input(type="submit", value="Change Password") 